

body {
	background: url("headerwallpaper.jpg");
	background-size: auto 300px;
	background-repeat: no-repeat;
}
header {
	text-align: center;
	background-size: cover;
	height: 300px;

	}

img {
	max-height:150px;
	margin: 10px;
	border:7px solid white;
	border-radius:20%;
	
}

h1 {
	color: white;
}

p {
	color: white;
}
