
body {
	background-color: rgba(0,64,100,.8);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Hammersmith One', Garamond;
	color: white;
	text-align: center;
}

.maincontainer {
	margin: auto;
	text-align: center;
	height: 100vh;
	
}

header {
	text-align: center;
	
	}

img {
	max-height:200px;
	margin: 20px 0;
	border:2px solid white;
	border-radius:20%;
	
}

h1 {

	color: rgba(0,32,100,.8);
	margin: 10px;
	font-family: 'Russo One',cursive;
	font-size: 30px;
	text-align: center;
	float: left;
	position: absolute;
	

}




#about {
	
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	width: 60%;
	margin: 0 auto;
	
	
}

.about {
	text-align: center;

	
}

.menu {
	background-color: white;
	padding"

	

	
}

ul {
	
	right:10px;
	margin: 35px;


}

li {
	display: inline;
	font-size: 25px;
	text-align: right;
	color: white;
}

a {
	text-decoration: none;	
}

li:hover {
	font-weight: bold;
}

li:active {
	color:#003;
}

.menucontainer {
	margin: 0 30px;
	padding: 10px;
	display: inline;
	background-color: rgba(100,0,0,0.7);
	border-radius: 10%;
}

button {
	background-color:rgba(256,256,256,0.1);
	color:white;
	padding: 10px;
	font-family: Garamond;
	font-size: 20px;
	border-radius: 10%;
	border: 3px solid white;
}

button:hover {
	font-size: 36px;
}

button:active {
	font-weight:bold;
}

button: click {
	color:#300;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
=======
ddddddddddddddddddddd
>>>>>>> 90a4996398691f79bfd54eb3a75e048e77fcd0e5
