
body {
	background-color: rgb(0,0,32);
	background-size: cover;
	background-repeat: no-repeat;
}

.maincontainer {
	margin: auto;
	text-align: center;
	height: 100vh;
	background-color: rgba(0,0,32,0.1);
}

header {
	text-align: center;
	height: 300px;
	}

img {
	max-height:100px;
	margin: 20px 0 0 0;
	border:2px solid white;
	border-radius:20%;
	
}

h1 {
	font-family: Garamond;
	color: white;
	margin: 2px auto;
}

#intro {
	font-family: Garamond;
	margin: 10px;
	color: white;
	
}

.menu {
	background-color: white;
	padding: 10px;
}

ul {
	text-align: center;
}
li {
	display: inline;
	color: white;
	font-family: Garamond;
	font-size: 25px;
	text-align: right;
}

a {
	text-decoration: none;	
}

li:hover {
	font-weight: bold;
}

li:active {
	color:#003;
}

.menucontainer {
	margin: 10px 40px;
	padding: 10px;
	display: inline;
	background-color: rgba(100,0,0,0.7);
	border-radius: 10%;
}

button {
	background-color:rgba(256,256,256,0.1);
	color:white;
	padding: 10px;
	font-family: Garamond;
	font-size: 20px;
	border-radius: 10%;
	border: 1px solid white;
}

button:hover {
	font-size: 36px;
}

button:active {
	font-weight:bold;
}

button: click {
	color:#300;
}
=======
ddddddddddddddddddddd
>>>>>>> 90a4996398691f79bfd54eb3a75e048e77fcd0e5
